/* Override the icon */
.md-footer-social a[href="https://www.elbits.no"] .md-icon {
    background-image: url("images/Color.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent; /* Hides the original icon color */
  }