<footer class="footer">

    <div class="footer-item left">Copyright &copy; 2026 ElBits AS</div>

    <div class="footer-item center">
        <a href="https://www.elbits.no" target="_blank" class="footer-logo">
            Powered by
            <img src="/images/ElBits_LogoWave_WattApp.svg" alt="ElBits Logo">
            ElBits
        </a>
    </div>

    <div class="footer-item right">
        <a href="https://github.com/3lbits/NoCIMExtensions" target="_blank" rel="noopener" title="github.com" class="footer-social__link">
            <img src="/images/github-mark-white.svg" alt="github.com">
            NoCIMExtensions
        </a>
    </div>

</footer>
