[data-md-color-scheme="default"] {
  --md-primary-fg-color: #163289;
  --md-primary-fg-color--light: #4169E1;
  --md-primary-fg-color--dark: #101828;
  --md-accent-fg-color: #4169E1;
  --md-mermaid-node-bg-color: #E0E7FA;
  --md-mermaid-node-fg-color: #1F2A37;
  --md-mermaid-edge-color: #4169E1;
  --md-mermaid-label-bg-color: #F2F4F7;
  --md-mermaid-label-fg-color: #344054;
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #4169E1;
  --md-mermaid-node-bg-color: #1D2939;
  --md-mermaid-node-fg-color: #F2F4F7;
  --md-mermaid-edge-color: #4169E1;
  --md-mermaid-label-bg-color: #344054;
  --md-mermaid-label-fg-color: #EAECF0;
}

/* General footer styling */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #163289;
    border-top: 1px solid #163289;
    color: white;
    font-size: 0.69rem;
  }
  
.footer-logo img {
    height: 3em;
    vertical-align: middle;
    margin-bottom: 0.2em;
  }

.footer-social__link img {
    fill: white;
    max-height: 1rem;
    vertical-align: middle;
    margin-bottom: 0.25em;
    margin-right: 0.1em;
}

  .footer-item {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
  }
  
  .footer-item.left {
    text-align: left;
  }
  
  .footer-item.center {
    text-align: center;
  }
  
  .footer-item.right {
    text-align: right;
  }
  
  /* Media query for small screens (e.g., phones) */
  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-item {
      text-align: center;
    }

    .footer-item.left {
        order: 1;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
 
    .footer-item.center {
      order: 3;
      margin-bottom: 0.25rem;
    }

    .footer-item.right {
        order: 2;
        margin-top: 0.25rem;
    }

  }
  